@font-face {
  font-family: 'Open Sans'; }

* {
  list-style: none; }

body {
  background-color: #F5EFE8; }
  body header .header-brush {
    min-height: 100px;
    background-color: #1f4867;
    border-top: 1px solid #827073;
    margin-top: 20px; }
    body header .header-brush .row {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      body header .header-brush .row .col-lg-6 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        body header .header-brush .row .col-lg-6 .img-brush img {
          margin-left: 35px;
          padding-top: 26px;
          width: 170px;
          display: block; }
        body header .header-brush .row .col-lg-6 .img-brush small {
          font-size: 0.8em;
          font-weight: 600;
          opacity: 0.8;
          display: block;
          margin-top: 10px;
          color: white;
          margin-left: 30px;
          padding-bottom: 7px; }
        body header .header-brush .row .col-lg-6 .catalog-and-contact {
          position: relative; }
          body header .header-brush .row .col-lg-6 .catalog-and-contact ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0;
            margin: 0;
            padding-left: 40px; }
            body header .header-brush .row .col-lg-6 .catalog-and-contact ul li {
              padding: 17px; }
              body header .header-brush .row .col-lg-6 .catalog-and-contact ul li a {
                display: inline-block;
                cursor: pointer;
                text-decoration: none;
                color: white;
                font-size: 19px;
                line-height: 100px;
                font-family: 'Open Sans';
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex; }
                body header .header-brush .row .col-lg-6 .catalog-and-contact ul li a:hover {
                  color: #e0e0e0; }
                body header .header-brush .row .col-lg-6 .catalog-and-contact ul li a .caret {
                  margin-top: 50px;
                  display: inline-block;
                  width: 0;
                  height: 0;
                  margin-left: 7px;
                  vertical-align: middle;
                  border-top: 4px dashed;
                  border-right: 4px solid transparent;
                  border-left: 4px solid transparent; }
          body header .header-brush .row .col-lg-6 .catalog-and-contact .header-nav-menu {
            display: none;
            position: absolute;
            z-index: 5;
            width: 300px;
            height: 100px;
            background-color: white;
            color: black;
            top: 95px;
            left: 50px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }
            body header .header-brush .row .col-lg-6 .catalog-and-contact .header-nav-menu ul {
              display: block;
              margin: 0;
              padding: 0; }
              body header .header-brush .row .col-lg-6 .catalog-and-contact .header-nav-menu ul li {
                margin: 0;
                padding: 0; }
                body header .header-brush .row .col-lg-6 .catalog-and-contact .header-nav-menu ul li a {
                  font-size: 18px;
                  display: block;
                  padding: 3px 20px;
                  font-weight: normal;
                  color: #333333;
                  white-space: nowrap;
                  text-decoration: none;
                  line-height: normal; }
                  body header .header-brush .row .col-lg-6 .catalog-and-contact .header-nav-menu ul li a:hover {
                    background-color: #377fb5;
                    color: black; }
      body header .header-brush .row .col-lg-4 small {
        margin-top: 9px;
        display: block; }
        body header .header-brush .row .col-lg-4 small a {
          display: block;
          margin-right: 20px;
          text-align: right;
          text-decoration: none;
          color: white;
          opacity: 0.8; }
          body header .header-brush .row .col-lg-4 small a:hover {
            color: #e0e0e0; }
      body header .header-brush .row .col-lg-4 form {
        width: 280px;
        float: right; }
        body header .header-brush .row .col-lg-4 form .input-group {
          margin-top: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          body header .header-brush .row .col-lg-4 form .input-group #input-tx {
            border: none;
            outline: none;
            padding: 6px 12px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px; }
          body header .header-brush .row .col-lg-4 form .input-group .input-group-btn input {
            border: none;
            padding: 0px 12px;
            outline: none;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            height: 100%;
            font-family: 'Open Sans';
            color: #333333;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
            background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
            background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
            background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%); }
            body header .header-brush .row .col-lg-4 form .input-group .input-group-btn input:hover {
              background-image: none; }
  body header .header-home {
    background-color: white; }
    body header .header-home .row {
      border-top: 1px solid #BCBCBC;
      background-color: #377fb5; }
      body header .header-home .row .col-md-2, body header .header-home .row .col-md-4, body header .header-home .row .col-md-5 {
        font-size: .9em;
        padding: 10px 20px;
        color: white; }
        body header .header-home .row .col-md-2 a, body header .header-home .row .col-md-4 a, body header .header-home .row .col-md-5 a {
          color: white; }
    body header .header-home .mobile-nav {
      display: none;
      background-color: transparent;
      width: 35px;
      height: 30px;
      margin-left: 10px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 1px solid #777;
      margin-top: 20px;
      -webkit-transition: opacity 1.3s;
      -o-transition: opacity 1.3s;
      transition: opacity 1.3s; }
      body header .header-home .mobile-nav hr {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #777;
        margin: auto; }
        body header .header-home .mobile-nav hr:after {
          display: block;
          background-color: #777;
          width: 21px;
          height: 1px;
          border: none;
          content: ' ';
          position: relative;
          top: -8px; }
        body header .header-home .mobile-nav hr:before {
          display: block;
          background-color: #777;
          width: 21px;
          height: 1px;
          border: none;
          content: ' ';
          position: relative;
          bottom: -5px; }
    body header .header-home .mobile-nav-menu {
      display: none;
      background-color: white; }
      body header .header-home .mobile-nav-menu .mobile-nav-ul {
        margin: 0;
        padding: 0; }
        body header .header-home .mobile-nav-menu .mobile-nav-ul li .mobile-span, body header .header-home .mobile-nav-menu .mobile-nav-ul li a {
          font-size: 14px;
          color: #827073;
          text-decoration: none;
          display: block;
          color: #827073;
          padding: 20px 15px 15px 15px;
          border-bottom: 1px solid #EEE; }
        body header .header-home .mobile-nav-menu .mobile-nav-ul li .caret {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px dashed;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent; }
        body header .header-home .mobile-nav-menu .mobile-nav-ul .ul-first-mobile, body header .header-home .mobile-nav-menu .mobile-nav-ul .ul-twelve-mobile {
          display: none; }
  body main .container {
    background-color: white; }
    body main .container .main-area {
      padding-top: 20px; }
      body main .container .main-area .block-side-nav {
        padding-left: 0; }
        body main .container .main-area .block-side-nav ul {
          margin: 0;
          padding: 0; }
          body main .container .main-area .block-side-nav ul li a {
            font-size: .9em;
            color: #827073;
            text-decoration: none;
            display: block;
            padding: 20px 15px 15px 30px;
            border-bottom: 1px solid #EEE; }
          body main .container .main-area .block-side-nav ul li .active {
            color: black;
            background-color: #c9dfef; }
            body main .container .main-area .block-side-nav ul li .active .blocklooking img {
              display: block;
              padding-top: 10px;
              width: 111px;
              height: 50px; }
          body main .container .main-area .block-side-nav ul li:hover {
            background-color: #c9dfef; }
          body main .container .main-area .block-side-nav ul .last:hover {
            background-color: white; }
        body main .container .main-area .block-side-nav .catalog h4 {
          font-size: 1em;
          text-align: center;
          color: #377fb5;
          display: block;
          margin-top: 20px; }
        body main .container .main-area .block-side-nav .catalog a {
          color: #B2B2B2;
          display: block;
          margin-left: 30px;
          margin-top: 10px; }
      body main .container .main-area .col-md-9 {
        margin-bottom: 20px; }
        body main .container .main-area .col-md-9 .main-content-area .page-header {
          padding-bottom: 9px;
          margin: 40px 0 20px;
          border-bottom: 1px solid #eeeeee; }
          body main .container .main-area .col-md-9 .main-content-area .page-header h1 {
            font-size: 36px;
            color: #827073;
            line-height: 1.25em; }
          body main .container .main-area .col-md-9 .main-content-area .page-header ul {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0; }
            body main .container .main-area .col-md-9 .main-content-area .page-header ul li {
              padding: 0;
              border: none; }
              body main .container .main-area .col-md-9 .main-content-area .page-header ul li a {
                display: block;
                font-weight: 700;
                padding: 10px 15px;
                text-decoration: none; }
                body main .container .main-area .col-md-9 .main-content-area .page-header ul li a:hover {
                  color: #23527c;
                  background-color: #eeeeee;
                  border-radius: 4px; }
        body main .container .main-area .col-md-9 .main-content-area p {
          margin: 0 0 20px;
          color: #333333;
          font-size: 14px;
          line-height: 1.428571429; }
        body main .container .main-area .col-md-9 .main-content-area ul {
          padding-left: 0;
          list-style: none;
          margin-top: 0;
          margin-bottom: 10px;
          color: #333333; }
          body main .container .main-area .col-md-9 .main-content-area ul li {
            background: none;
            border: none;
            overflow: hidden;
            padding: 19px;
            min-height: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #e3e3e3; }
            body main .container .main-area .col-md-9 .main-content-area ul li:last-child {
              border: none; }
            body main .container .main-area .col-md-9 .main-content-area ul li .media {
              margin-top: 0;
              overflow: hidden; }
              body main .container .main-area .col-md-9 .main-content-area ul li .media a {
                padding-right: 10px;
                color: #337ab7;
                text-decoration: none; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media a img {
                  margin-right: 21px;
                  margin-bottom: .5em;
                  display: block;
                  width: 100px;
                  height: 150px;
                  -webkit-box-shadow: 0 0 5px #827073;
                  box-shadow: 0 0 5px #827073;
                  vertical-align: middle; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media a .small {
                  width: 100px;
                  height: 75px; }
              body main .container .main-area .col-md-9 .main-content-area ul li .media .book-details {
                vertical-align: top;
                display: table-cell; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media .book-details h3 {
                  margin: 0;
                  color: #377fb5;
                  line-height: 1.25em;
                  font-size: 24px; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media .book-details h4 {
                  margin: 0;
                  font-size: 18px;
                  line-height: 1.25em;
                  color: inherit;
                  font-weight: normal; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media .book-details h5 {
                  font-size: 14px;
                  margin-top: 7px;
                  margin-bottom: 14px;
                  font-weight: bold; }
                body main .container .main-area .col-md-9 .main-content-area ul li .media .book-details p {
                  margin: 0 0 10px;
                  color: #333333;
                  font-size: 14px;
                  line-height: 1.428571429; }
  body footer .container {
    background-color: #EDE9DC; }
    body footer .container .row .col-sm-5 ul {
      margin: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      body footer .container .row .col-sm-5 ul li a {
        color: #827073;
        font-size: 14px; }
    body footer .container .row .col-sm-5 small {
      display: block;
      margin-top: 14px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 85%;
      color: #777; }
    body footer .container .row .col-sm-2 small {
      padding: 15px;
      display: block;
      text-align: right;
      font-size: 85%;
      color: #777;
      font-family: 'Open Sans'; }
    body footer .container .row .col-sm-8 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      body footer .container .row .col-sm-8 small {
        margin-top: 30px;
        display: block;
        padding-left: 40px;
        font-size: 8.5px;
        line-height: 1.5em;
        color: #827073; }
      body footer .container .row .col-sm-8 a img {
        display: inline-block;
        margin-top: 20px;
        margin-left: 2em;
        padding-bottom: 30px; }
    body footer .container .row .col-sm-4 img {
      margin-top: 10px;
      float: right;
      margin-left: 20px;
      margin-right: 20px; }
      body footer .container .row .col-sm-4 img:last-child {
        margin-top: 14px; }

@media (min-width: 320px) and (max-width: 970px) {
  body header .header-brush .row .col-lg-6 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    body header .header-brush .row .col-lg-6 .img-brush img {
      margin-left: 30px; }
    body header .header-brush .row .col-lg-6 .img-brush small {
      font-size: 85%; }
    body header .header-brush .row .col-lg-6 .catalog-and-contact {
      display: none; }
  body header .header-brush .row .col-lg-4 small {
    text-align: center;
    padding-right: 0; }
    body header .header-brush .row .col-lg-4 small a {
      text-align: center;
      font-size: 85%; }
  body header .header-brush .row .col-lg-4 form {
    width: 320px;
    padding-left: 10px;
    padding-bottom: 10px; }
    body header .header-brush .row .col-lg-4 form .input-group {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  body header .header-home .mobile-nav {
    display: block; }
  body main .container .main-area .col-sm-2 {
    display: none; }
  body footer .container .row .col-sm-5 ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 10px; }
  body footer .container .row .col-sm-5 small {
    font-size: 75%;
    text-align: center; }
  body footer .container .row .col-sm-2 small {
    text-align: center; }
  body footer .container .row .col-sm-8 small {
    padding: 0;
    text-align: center; }
  body footer .container .row .col-sm-8 a img {
    margin-left: 1em; }
  body footer .container .row .col-sm-4 img {
    display: inline-block;
    float: none;
    margin-bottom: 20px; } }
